@font-face {
  font-family: "Mona Sans Wide";
  src: url("./assets/fonts/Mona-Sans-BoldWide.woff") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("./assets/fonts/Mona-Sans-Medium.woff") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@import "tailwindcss";


@theme {
    --font-MonaSansWide: Mona Sans Wide
}
@theme {
    --font-MonaSans: Mona Sans
}

.animated-element {
  will-change: transform, opacity;
  backface-visibility: hidden;
}
#root {
    height: 100%;

}

html {
  scroll-behavior: smooth;
}

  
